{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="webthemez">
    <title>Encontro Nacional de Origami</title>
	<!-- core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/animate.min.css" rel="stylesheet"> 
    <link href="static/css/prettyPhoto.css" rel="stylesheet">
    <link href="static/css/styles.css" rel="stylesheet"> 
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="static/images/ico/favicon.ico"> 
</head> 

<body id="home">
    <header id="header">
        <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand" href="index.html"><img src="static/images/logo2.jpg" alt="logo"></div>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="scroll active"><a href="#home">Home</a></li>  
                        <li class="scroll"><a href="#services">Agenda</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->

    <section id="hero-banner">
             <div class="banner-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12"> 
                                    <h2>Encontro Nacional de Origami</h2>
                                    <p><b>BELO HORIZONTE 2023</b></p>
                                    
                                
                            </div>
                        </div>
                    </div>
                </div>
    </section><!--/#main-slider-->

<section id="services" >
    <div class="container">

        <div class="section-header">
            <h2 class="section-title wow fadeInDown">Agenda de Eventos</h2>
        </div>
        
        <form action="{% url 'index' %}" method="POST">{% csrf_token %}
        <input type="email" size="35" id="user" name="user" placeholder="Email..." required="true"/>
        <br>
        <h2>14:00h-16:00h - 13.10 - sexta-feira</h2>
            
            <img src="static\images\mandala.png" alt="origami1" width="100" height="100">
            {% if quantity_1 > 0 %}
            <input type="radio" id="contactChoice1" name="1" value="Mandala" />
            {% endif %}
            <label for="contactChoice1">Mandala - vagas {{quantity_1}}/11</label>
            <br>
            <img src="static\images\Porta ATC.png" alt="origami2" width="100" height="100">
            {% if quantity_2 > 0 %}
            <input type="radio" id="contactChoice2" name="1" value="Porta ATC" />
            {% endif %}
            <label for="contactChoice2">Porta ATC - vagas {{quantity_2}}/11</label>
            <br>
    
        <h2>16:40h-18:30h - 13.10 - sexta-feira</h2>
            <img src="static\images\Cactus.png" alt="origami3" width="100" height="100">
            {% if quantity_3 > 0 %}
            <input type="radio" id="contactChoice1" name="2" value="Cactus" />
            {% endif %}
            <label for="contactChoice1">Cactus - vagas {{quantity_3}}/11</label>
            <br>
            <img src="static\images\Tess 1.png" alt="origami4" width="100" height="100">
            {% if quantity_4 > 0 %}
            <input type="radio" id="contactChoice2" name="2" value="Tess 1" />
            {% endif %}
            <label for="contactChoice2">Tess 1 - vagas {{quantity_4}}/11</label>
            <br>
            <img src="static\images\Museo de Arte de Bolsillo.png" alt="origami5" width="100" height="100">
            {% if quantity_5 > 0 %}
            <input type="radio" id="contactChoice3" name="2" value="Museo de Arte de Bolsillo" />
            {% endif %}
            <label for="contactChoice3">Museo de Arte de Bolsillo - vagas {{quantity_5}}/11</label>
        
        <h2>08:40h-10:30h - 14.10 - sábado</h2>
            <img src="static\images\Moldura.png" alt="origami6" width="100" height="100">
            {% if quantity_6 > 0 %}
            <input type="radio" id="contactChoice1" name="3" value="Moldura" />
            {% endif %}
            <label for="contactChoice1">Moldura - vagas {{quantity_6}}/11</label>
            <br>
            <img src="static\images\Tess.png" alt="origami7" width="100" height="100">
            {% if quantity_7 > 0 %}
            <input type="radio" id="contactChoice2" name="3" value="Tess" />
            {% endif %}
            <label for="contactChoice2">Tess - vagas {{quantity_7}}/11</label>
            <br>
            <img src="static\images\Kusudama.png" alt="origami8" width="100" height="100">
            {% if quantity_8 > 0 %}
            <input type="radio" id="contactChoice3" name="3" value="Kusudama" />
            {% endif %}
            <label for="contactChoice3">Kusudama - vagas {{quantity_8}}/11</label>
        
        <h2>10:40h-12:30h - 14.10 - sábado</h2>
            <img src="static\images\Mandala2.png" alt="origami9" width="100" height="100">
            {% if quantity_9 > 0 %}
            <input type="radio" id="contactChoice1" name="4" value="Mandala 2" />
            {% endif %}
            <label for="contactChoice1">Mandala 2 - vagas {{quantity_9}}/11</label>
            <br>
            <img src="static\images\Broto de Papel.png" alt="origami10" width="100" height="100">
            {% if quantity_10 > 0 %}
            <input type="radio" id="contactChoice2" name="4" value="Broto de Papel" />
            {% endif %}
            <label for="contactChoice2">Broto de Papel - vagas {{quantity_10}}/11</label>
            <br>
            <img src="static\images\Bordado2.png" alt="origami11" width="100" height="100">
            {% if quantity_11 > 0 %}
            <input type="radio" id="contactChoice3" name="4" value="Bordado" />
            {% endif %}
            <label for="contactChoice3">Bordado - vagas {{quantity_11}}/11</label>
        
        <h2>14:30h-16:20h - 14.10 - sábado</h2>
            <img src="static\images\RuBaIII.png" alt="origami12" width="100" height="100">
            {% if quantity_12 > 0 %}
            <input type="radio" id="contactChoice1" name="5" value="RuBa III" />
            {% endif %}
            <label for="contactChoice1">RuBa III - vagas {{quantity_12}}/11</label>
            <br>
            <img src="static\images\Estrela Macchi.png" alt="origami13" width="100" height="100">
            {% if quantity_13 > 0 %}
            <input type="radio" id="contactChoice2" name="5" value="Estrela Machi" />
            {% endif %}
            <label for="contactChoice2">Estrela Machi - vagas {{quantity_13}}/11</label>
            <br>
            <img src="static\images\Bordado2.png" alt="origami14" width="100" height="100">
            {% if quantity_14 > 0 %}
            <input type="radio" id="contactChoice3" name="5" value="Bordado 2" />
            {% endif %}
            <label for="contactChoice3">Bordado - vagas {{quantity_14}}/11</label>
        
        <h2>17:10h-19:00h - 14.10 - sábado</h2>
            <img src="static\images\Flor de Froissage.png" alt="origami15" width="100" height="100">
            {% if quantity_15 > 0 %}
            <input type="radio" id="contactChoice1" name="6" value="Flor de Froissage" />
            {% endif %}
            <label for="contactChoice1">Flor de Froissage - vagas {{quantity_15}}/11</label>
            <br>
            <img src="static\images\Chinese Thread Book.png" alt="origami16" width="100" height="100">
            {% if quantity_16 > 0 %}
            <input type="radio" id="contactChoice2" name="6" value="Chinese thread book" />
            {% endif %}
            <label for="contactChoice2">Chinese thread book - vagas {{quantity_16}}/11</label>
            <br>
            <img src="static\images\Rosa.png" alt="origami17" width="100" height="100">
            {% if quantity_17 > 0 %}
            <input type="radio" id="contactChoice3" name="6" value="Rosa" />
            {% endif %}
            <label for="contactChoice3">Rosa - vagas {{quantity_17}}/11</label>
        
        <h2>08:30h-10:00h - 15.10 - domingo</h2>
            <img src="static\images\RuBaI.png" alt="origami18" width="100" height="100">
            {% if quantity_18 > 0 %}
            <input type="radio" id="contactChoice1" name="7" value="RuBa I" />
            {% endif %}
            <label for="contactChoice1">RuBa I - vagas {{quantity_18}}/11</label>
            <br>
            <img src="static\images\Porta Óculos.png" alt="origami19" width="100" height="100">
            {% if quantity_19 > 0 %}
            <input type="radio" id="contactChoice2" name="7" value="Porta óculos" />
            {% endif %}
            <label for="contactChoice2">Porta óculos - vagas {{quantity_19}}/11</label>
            <br>
            <img src="static\images\Floco de Neve.png" alt="origami20" width="100" height="100">
            {% if quantity_20 > 0 %}
            <input type="radio" id="contactChoice3" name="7" value="Floco de neve" />
            {% endif %}
            <label for="contactChoice3">Floco de neve - vagas {{quantity_20}}/11</label>
        
        <h2>10:10h-11:40h - 15.10 - domingo</h2>
            <img src="static\images\Mandala2.png" alt="origami21" width="100" height="100">
            {% if quantity_21 > 0 %}
            <input type="radio" id="contactChoice1" name="8" value="Mandala 3" />
            {% endif %}
            <label for="contactChoice1">Mandala 3 - vagas {{quantity_21}}/11</label>
            <br>
            <img src="static\images\Caixa.png" alt="origami22" width="100" height="100">
            {% if quantity_22 > 0 %}
            <input type="radio" id="contactChoice2" name="8" value="Caixa" />
            {% endif %}
            <label for="contactChoice2">Caixa - vagas {{quantity_22}}/11</label>
            <br>
            <img src="static\images\Bordado2.png" alt="origami23" width="100" height="100">
            {% if quantity_23 > 0 %}
            <input type="radio" id="contactChoice3" name="8" value="Bordado 3" />
            {% endif %}
            <label for="contactChoice3">Bordado 3 - vagas {{quantity_23}}/11</label>
            <br>
            <br>
            <br>
            <input type="submit" value="Salvar">
        </form>
        
</section><!--/#services-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2016 Company Name. Template by <a target="_blank" href="http://webthemez.com/" title="Free Bootstrap Themes and HTML Templates">WebThemez.com</a>
                </div>
                <div class="col-sm-6">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script> 
    <script src="static/js/mousescroll.js"></script>
    <script src="static/js/smoothscroll.js"></script>
    <script src="static/js/jquery.prettyPhoto.js"></script>
    <script src="static/js/jquery.isotope.min.js"></script>
    <script src="static/js/jquery.inview.min.js"></script>
    <script src="static/js/wow.min.js"></script>
    <script src="static/js/custom-scripts.js"></script>
</body>
</html>